:root {
--baby-blue: #DBE4EF;
--cinza-claro: #EDF0F4;
--cinza-medio: #8F8F8F;
--cinza: #444;
--azul-dark: #162a47;
--azul-medio: #144480;
--azul-neon: #2BDEFD;
--icon-aspas: height: 51px widht:63px;
--logo-memoteca: height:128px widht:340px;
--font-1: 'Poppins', sans-serif;
--font-2: 'Roboto Mono', monospace;

}
